.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    align-items: end;
}


.card button {
    justify-content: end;
    margin-top: 15px;
    background-color: chocolate;
    border-color: #fff;
}

.card {
    width: 290.625px;
    min-height: 200px;
    align-items: center;
    margin: 10px;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Mor Arka Plan için Gradient */
.bg-gradient-primary {
    margin-left: auto;
    background: linear-gradient(to bottom right, #9b4dca, #6a2d91);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    text-align: center;
}

@media (max-width:768px) {

    .product-list {
        width: 95%;
    }

    .card {
        width: 95%;
    }

    .product-list a {
        width: 48%;
    }


}