body,
html,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.mega-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 100vw;
  min-height: 8vh;
  z-index: 1000;
}

.mega-menu .nav-item {
  font-family: sans-serif;
  padding: 18px;
}

.mega-menu>div {
  flex: 1;
  margin: 0 15px;
}

#basic-navbar-nav {
  justify-content: center;
}

.nav-dropdown .dropdown-item {
  padding: 10px 20px;
  background-color: #000;
}

.nav-dropdown .dropdown-divider {
  background-color: #e9ecef;
}