@font-face {
  font-family: 'ChunkFive';
  src: url('./fonts/ChunkFive-Regular.woff') format('woff');
  src: url('./fonts/ChunkFive-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body,
html,
#root {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'ChunkFive';
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content{
  flex: 1 !important;
}

.customGradiant {
  background: rgb(131, 58, 180);
  background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(170, 74, 74, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card-login-style {
  display: flex;
  border: 2px solid #0f2942;
  width: 100%;
}

.form {
  width: 100%;
}

.input-login {
  width: 100%;
  border-radius: 6px;
  border-bottom: solid #0f2942;
}

.mega-menu-content {
  display: flex;
  gap: 10px;
  width: 100vw;
  padding-bottom: 10px;
}

.mega-menu-item {
  flex: 1 1 calc(10% - 5px);
  height: 55px;
  box-sizing: border-box;
}

.mega-menu-item a {
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.nav-dropdown .dropdown-divider {
  background-color: #0f2942;
}

footer {
  background-color: #0f2942;
  color: #fff;
  padding: 20px 0;
}
 footer .container {
  width: 100%;
}
 footer .row {
  margin-left: auto;
  margin-right:  auto;
  align-items: center;
  justify-content: center;
}

.copyright{
  text-align: center;
}

@media (max-width: 768) {

  .card-login,
  .form {
    width: 375px;
  }

  .card-login-style {
    width: 100vw
  }
}